body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  background-image: url("Aphrodite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 80px;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 14px 30px;
  color: white;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  color: grey;
}

#my-quote {
  width: 50%;
  text-align: center;
}

#my-quote h1 {
  font-weight: 400;
  font-size: 3em;
}

#my-quote h2 {
  font-weight: 200;
  font-size: 2em;
}
